body {
    text-align: center;
    background: linear-gradient(to bottom, rgba(250, 250, 250, 1), rgba(220, 220, 220, 1));
}

.top-container {
    width: 100%;
    min-height: 200px;
    max-height: 350px;
    background-color: darkslategray;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}

.bottom-container {
    width: 100%;
    height: 100px;
    background-color: darkslategray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    width: 60%;
    margin: 0 auto;
}

@media (max-width: 900px) {
    .main-content {
        width: 90%;
    }
}

.heading {
    font-family: Orbitron, sans-serif;
    color: white;
    font-size: 1.5rem;
    margin: 10px;
}

.subheading {
    font-family: Orbitron, sans-serif;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.deco-img {
   max-width: 120px;
   height: auto;
   margin: 10px;
}

nav {
    position: fixed;
    background-color: darkslategray;
    width: 100%;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-bar {
list-style: none;
margin: 0;
padding: 0;
display: flex;
justify-content: end;
gap: 10px;
}

.nav-el {
    margin: 0;
}

.nav-bar a {
    color: #d6a44b;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.nav-bar a:hover {
    color: white;
}

section {
    scroll-margin-top: 50px;
}

.me-img {
    max-width: 120px;
   height: auto;
   margin: 10px;
    border-radius: 30%;
}

h2 {
    font-family: Libre Baskerville;
    font-weight: bold;
    color: darkslategray;

    
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

.grid-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.grid-container p {
    font-size: 0.7rem;
}

[id]:not(#title) {
    padding-top: 80px;
}

.resume {
    text-align: left;
}

.icon {
    height: 40px;
}